doctype html
html(lang='en')
  head
    include ./partials/head_content.jade
  body
    #wrapper
      include ./partials/navbar.jade
      include ./partials/pagewrapper.jade
    
    include ./partials/js_includes.jade
